
<!--<div class="cc-page-widget-profile-section-label">add a language</div>-->
<div class="cc-page-widget-profile-section-content" data-ng-if="languages.editorEnabled">
  <div class="cc-page-widget-profile-section-label">languages section editor</div>
  <p>design assumptions</p>
  <ul style="list-style: decimal inside;">
    <li>should show a list of languages, if any associated, each with edit controls</li>
    <li>should be an Add control top right</li>
    <li>form: edit one item at a time</li>
    <li>for Add(), form field uses default values</li>
    <li>save|cancel: linear (each item)</li>
    <li>field validation? invalid state messages?</li>
    <li>on successful save or cancel, refresh and revert to list view</li>
    <li>on failed save, show global error message ???</li>
  </ul>
  <form data-ng-submit="save(currentObject.data)" name="cc_page_widget_languages_section">
    <select data-ng-if="languageCodes" required aria-required="true">
      <option data-ng-repeat="language in languageCodes.content" value="{{language.accomplishment}}">
        {{language.descr}}
      </option>
    </select>

    <div>
      <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="cc_page_widget_basic_preferred_name.$invalid || isSaving">
        <span data-ng-if="!isSaving">Save</span>
        <span data-ng-if="isSaving">Updating...</span>
      </button>
      <button class="cc-button" data-ng-click="cancelEdit()" data-ng-disabled="isSaving">Cancel</button>
    </div>

    <ul>
      <li data-ng-repeat="language in languageCodes.content">
        accomplishment: {{language.accomplishment}}, descr: {{language.descr}}
      </li>
    </ul>
    <select data-ng-options="language.accomplishment as language.descr for language in languages.content"
    data-ng-model="currentObjectS.languages.content" required aria-required="true" />
  </form>

</div>
