<div class="cc-page-widget-profile-section" data-ng-controller="LanguagesSectionController">
  <div class="cc-page-widget-profile-section-label">
    <button class="cc-button-link" data-ng-click="showAdd()" data-ng-if="!items.content.length && !items.editorEnabled">+ Add Language</button>
    <span data-ng-if="items.content.length || items.editorEnabled" data-ng-pluralize count="items.content.length" when="{'1': 'Language', 'other': 'Languages'}"></span>
  </div>
  <div class="cc-page-widget-profile-section-content" data-ng-if="items.loaded">
    <div class="cc-page-widget-profile-section-content-item" data-ng-if="items.editorEnabled">
      <div data-ng-include="'widgets/profile/languages_section_editor.html'"></div>
    </div>
    <div class="cc-page-widget-profile-section-add" data-ng-if="!items.editorEnabled">
      <button class="cc-button-link cc-right" data-ng-click="showAdd()" data-ng-if="items.content.length">+ Add <span class="cc-visuallyhidden">Language</span></button>
    </div>
    <div class="cc-page-widget-profile-section-content-item" data-ng-repeat="language in items.content" data-ng-if="!items.editorEnabled">
      <div>
        <strong data-ng-bind="language.name"></strong>
        <span data-ng-if="language.levels.length">
          (<span data-ng-bind="language.levels | andFilter"></span>)
        </span>
      </div>
      <div data-ng-if="language.speakingProficiency.description" data-ng-bind-template="Speaking Proficiency: {{proficiencies[language.speakingProficiency.description - 1].name}}"></div>
      <div data-ng-if="language.readingProficiency.description" data-ng-bind-template="Reading Proficiency: {{proficiencies[language.readingProficiency.description - 1].name}}"></div>
      <div data-ng-if="language.writingProficiency.description" data-ng-bind-template="Writing Proficiency: {{proficiencies[language.writingProficiency.description - 1].name}}"></div>
      <button class="cc-button-link" data-ng-click="showEdit(language)">Edit <span class="cc-visuallyhidden">{{ language.name }} credential</span></button>
    </div>
    <!--<div data-ng-if="!languages.content.length" class="cc-page-widget-profile-section-not-available">
      There are no languages available.
    </div>-->
  </div>
</div>
