
<div class="cc-page-widget-profile-section-content-edit" data-ng-if="languages.editorEnabled">
  <form data-ng-submit="saveItem(currentObject.data)" name="cc_page_widget_languages_section">
    <div>
      <strong>Language code</strong>
    </div>
    <div>
      <input name="cc-language-code-name" id="cc-language-code-name" value="language-code" />
      <span>cc-language-code-name</span>
    </div>

    <div>
      <select data-ng-if="languageCodes" required aria-required="true" name="cc-language-codes-select">
        <option data-ng-repeat="language in languageCodes.content" value="{{language.accomplishment}}">
          {{language.descr}}
        </option>
      </select>
    </div>

    <div>
      <strong>Speaking Proficiency</strong>
    </div>
    <div>
      <select>
        <option value="high">high</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
      </select>
    </div>

    <div>
      <strong>Reading Proficiency</strong>
    </div>
    <div>
      <select>
        <option value="high">high</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
      </select>
    </div>

    <div>
      <strong>Writing Proficiency</strong>
    </div>
    <div>
      <select>
        <option value="high">high</option>
        <option value="medium">medium</option>
        <option value="low">low</option>
      </select>
    </div>

    <div>
      <strong>Is this your native language?</strong>
    </div>
    <div>
      <label><input type="radio" value="" /><span>Yes</span></label>
      <label><input type="radio" value="" /><span>No</span></label>
    </div>

    <div>
      <strong>Are you able to translate this language into your native tongue?</strong>
    </div>
    <div>
      <label><input type="radio" value="" /><span>Yes</span></label>
      <label><input type="radio" value="" /><span>No</span></label>
    </div>

    <div>
      <strong>Are you able to teach in this language?</strong>
    </div>
    <div>
      <label><input type="radio" value="" /><span>Yes</span></label>
      <label><input type="radio" value="" /><span>No</span></label>
    </div>

    <div class="cc-page-widget-profile-section-error cc-text-red" data-ng-if="errorMessage">
      <i class="cc-icon-red fa fa-exclamation-circle"></i>
      <span data-ng-bind="errorMessage"></span>
    </div>

    <div>
      <button class="cc-button cc-button-blue" type="submit" data-ng-disabled="cc_page_widget_basic_preferred_name.$invalid || isSaving">
        <span data-ng-if="!isSaving">Save</span>
        <span data-ng-if="isSaving">Updating...</span>
      </button>
      <button class="cc-button" data-ng-click="cancelEdit()" data-ng-disabled="isSaving">Cancel</button>
    </div>

    <div data-ng-if="!adding">
      (<button class="cc-button-link" data-ng-click="deleteItem(currentObject.data)">Delete language credential</span></button>)
    </div>
  </form>
</div>
