a[disabled] {
  color: $body-font-color;
  pointer-events: none;

  &:hover, &:focus {
    cursor: default;
    text-decoration: none;
  }
}

.cc-button-link[disabled~="disabled"] {
  background-color: inherit;;
  color: $cc-color-button-link-disabled;
  &:hover, &:focus {
    background-color: inherit;
    color: $cc-color-button-link-disabled;
    cursor: default;
  }
}
